%section.my_queue.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %h2 My Queue
        = form_tag(update_queue_path) do
          %table.table
            %thead
              %tr
                %th(width="10%") List Order
                %th(width="30%") Video Title
                %th(width="10%") Play
                %th(width="20%") Rating
                %th(width="15%") Genre
                %th(width="15%") Remove
            %tbody
              - @queue.each do |row|
                %tr
                  %td
                    -# = hidden_field_tag "new_positions[][id]", row.id
                    -# = text_field_tag "new_positions[][position]", "#{row.place_in_queue}", class: 'form-control'
                    = text_field_tag "new_positions[#{row.id}]", "#{row.place_in_queue}", class: 'form-control'
                  %td
                    = link_to row.video_title, row.video
                  %td
                    = button_to "Play", nil, class: "btn btn-default"
                  %td
                    = hidden_field_tag "ratings[][id]", row.id
                    = select_tag("ratings[][rating]", options_for_select(5.downto(1).map { |n| ["#{n} Stars", n] }, row.rating), { class: 'form-group', include_blank: !row.rating })
                  %td
                    = link_to row.category_name, row.category
                  %td
                    = link_to my_queue_video_path(row.video), method: :delete do
                      %i.glyphicon.glyphicon-remove
          = submit_tag "Update Instant Queue", class: 'btn btn-default'
